| BEGIN:VCALENDAR
| VERSION:2.0
| METHOD:PUBLISH
| X-WR-CALNAME:Courses
| X-WR-RELCALID:Courses
| PRODID:-//javascript//NONSGML v1.0//EN
| BEGIN:VTIMEZONE
| TZID:Europe/Moscow
| X-LIC-LOCATION:Europe/Moscow
| BEGIN:STANDARD
| TZOFFSETFROM:+0300
| TZOFFSETTO:+0300
| TZNAME:MSK
| DTSTART:19700101T000000
| END:STANDARD
| END:VTIMEZONE
| BEGIN:VEVENT
| UID:#{group.slug}
| DTSTART;TZID=Europe/Moscow:#{moment(group.dateStart).format('YYYYMMDDTHHmmss')}
| DURATION:PT#{group.duration/60^0}H#{group.duration % 60 }M
| RRULE:FREQ=WEEKLY;UNTIL=#{moment(group.dateEnd).utcOffset(0).format('YYYYMMDDTHHmmss')}Z;WKST=MO;BYDAY=#{group.weekDays.map(day => ['','MO','TU','WE','TH','FR','SA','SU'][day]).join(',')}
each dateSkip in group.datesSkip
  = '\n'
  | EXDATE:#{moment(dateSkip).format('YYYYMMDD')}T#{group.timeStart.split(':')[0]-3}#{group.timeStart.split(':')[1]}00Z
  = '\n'
| ORGANIZER;CN=#{group.teacher.displayName}:MAILTO:#{group.teacher.teacherEmail}
| SUMMARY:#{group.teacher.displayName} - #{group.course.titleShort}
| END:VEVENT
| END:VCALENDAR
