extends /layouts/email

block body

  p Здравствуйте,

  p Подтверждаем, что на сайте #{site} выписан счёт на оплату по заказу #{order.title}.

  if transaction.paymentDetails.agreementRequired
    p Вы можете скачать счёт по ссылке:
    ul
      li
        | В формате Word:
        = ' '
        a(href=invoiceUrl)= invoiceUrl
      li
        | В формате PDF с подписью:
        = ' '
        a(href=invoiceSignedUrl)= invoiceSignedUrl

    p Договор с актом – по ссылке:
    ul
      li
        | В формате Word:
        a(href=agreementUrl)= agreementUrl
      li
        | В формате PDF с подписью:
        a(href=agreementSignedUrl)= agreementSignedUrl



  else
    p
      | Вы можете скачать счёт по ссылке
      = ' '
      a(href=invoiceUrl)= invoiceUrl
      | .

    p Вы указали, что договор и акт вам не нужны, поэтому эти документы формироваться не будут.

  p
    | Посмотреть информацию о заказе вы также можете в своём личном кабинете, по ссылке&nbsp;
    a(href=profileOrdersUrl)= profileOrdersUrl
    | .


