include /blocks/text-input/index
include /blocks/button/index
include ../chat-group/index

mixin chat-log(data)
  +b.chat-log
    +e('form')(method='GET').header
      | Временной диапазон c
      +e.field
        +text-input({ small: true })(
          name='from'
          type='date'
          value=data.from
        )
      | по
      +e.field
        +text-input({ small: true })(
          name='to'
          type='date'
          value=data.to
        )
      +button({
        mod: 'action'
      })(type='submit')
        | Применить
    +e.content
      each group in data.messages
        +chat-group(group)
