h2 Общение в чате

p Для чата используется Slack. Это чат, удобный для программистов, с возможностью вставлять фрагменты кода и т.д.

p Для захода в него:

ul
  li Зарегистрируйтесь на <a href="http://slack.javascript.ru">http://slack.javascript.ru</a>, используя email #{user.email}. В полях "Your name", пожалуйста, укажите свои реальные имя и фамилию.
  li Придёт инвайт на почту. Примите его.
  li Можно входить по адресу <a href="http://javascriptru.slack.com">http://javascriptru.slack.com</a> или поставить <a href="https://slack.com/downloads">приложение Slack</a>.

p При заходе в Slack вы видите каналы, открытые всем. Например, general, angular, react. В них можно общаться независимо от курса.

p.
  Для участников доступен закрытый канал курса.
  Для того, чтобы в него зайти – после подключения к Slack,
  во вкладке профиля <a href="#{user.getProfileUrl()}/courses">Курсы</a> нажмите на соответствующую кнопку группы.

p Некоторые подсказки по Slack:

ul
  li Чтобы вставить код, в строке сообщения используйте сочетание Cmd+Enter (Mac) или Ctrl+Enter, справа-сверху можно будет выбрать язык для подсветки.
  li Чтобы обратиться к другому пользователю, напишите в сообщении "@", а затем его ник. В частности, для обращения к преподавателю данной группы это будет "@#{group.teacherSlackUser ? group.teacherSlackUser.name : group.teacher.profileName}".
  li В настройках Slack-приложения можно поменять Notification Settings (когда уведомлять вас о сообщениях), сделать в Messages тему Compact, скрыть каналы и прочее.
  li В настройках Slack (клик слева-сверху на JavaScript => Preferences => Messages & Media) можно сменить стиль на Compact и включить Display real names instead of usernames.


p Общаться в Slack-группе можно также и вне занятий, обычно преподаватель также старается отвечать на вопросы, хотя и не всегда так оперативно, как во время онлайн-встречи.

p Дополнительным способом обращения к преподавателю вне занятий является email (<a href="mailto:#{group.teacher.teacherEmail}">#{group.teacher.teacherEmail}</a>).
